
@{
    ViewBag.Title = "Index";
}

<div class="d-flex align-items-center justify-content-center h-100 w-100 gap-2">
    <input type="button" value="XSD" class="btn btn-primary" onclick="location.href='@Url.Action("XSD", "Rest")'" />
    <input type="button" value="RNG" class="btn btn-secondary" onclick="location.href='@Url.Action("RNG", "Rest")'" />
</div>

